 /************************************************
 Breakpoints
 ************************************************/ 
 /* 
    Small               sm    ≥576px
    Medium              md    ≥768px
    Large               lg    ≥992px
*/

/* custom properties */
/* :root {
    --bgd-header: # ;
} */

/* utilities */
.debug .bordebug {
    border: 2px dashed black; 
}

/* header */
header {
    height: 80px;
    background-color: blue;
}

/* down-content */
.down-content {
    height: calc(100vh - 80px);
    background-color: aqua;
}

/* sidebar */
.sidebar {
    background-color: rebeccapurple;
    flex: 0 0 50px; 
}

/* main */
.main-content {
    background-color: bisque;
    flex: 1 1 auto;
}

 /************************************************
 RESPONSIVE lg 992PX
 ************************************************/
 @media screen and (min-width: 992px) {
    .sidebar {
        flex: 0 0 110px;  
    }
}