 /************************************************
 Breakpoints
 ************************************************/ 
 /* 
    Small               sm    ≥576px
    Medium              md    ≥768px
    Large               lg    ≥992px
*/

/* custom properties */
:root {
    --bgd-head: #F8F9FA ;
    --bgd-search-bar: #E5E5E5;
    --col-bell: #F98F01;
}

/* utilities */
.debug .bordebug {
    border: 2px dashed black; 
}

a {
    text-decoration: none;
    color: #5B5858;
}

/* header */
header {
    height: 80px;
}

.head {
    height: 100%;
}

.nav-l, .serch-b {
    height: 45px;
}

.bg-w {
    background-color: white;
}

.bg-serch-b{
    background-color: var(--bgd-search-bar);
}

.bell {
    color: var(--col-bell);
}

/* down-content */
.down-content {
    height: calc(100vh - 80px);
}

/* sidebar */
.sidebar {
    background-color: rgb(18,40,63);
    background-image: url(/img/sidebar-bg.png);
    flex: 0 0 70px; 
    height: 100%;
}

li:hover a, .admin:hover a {
    background-color: gray;
}

/* main */
.main-content {
    flex: 1 1 auto;
}

/* content up */
.bl-pill {
    background-color: #1B5BBA;
}

/* content down */
.bg-cus {
    background: none;
}

.fon-s {
    font-size: 13px;
    font-weight: 500;
}

/* offcanvas */
#offcanvasRight {
    width: 100%;
}

 /************************************************
 RESPONSIVE lg 992PX
 ************************************************/
 @media screen and (min-width: 992px) {
    .sidebar {
        flex: 0 0 110px;  
    }
}

@media screen and (min-width: 1200px) {
    #offcanvasRight {
        width: 800px;
    }
}